@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
*{
    font-family: 'Share', sans-serif;
}
#back-button-container{
    display: flex;
    height: 80px;
    width: 190px;
}

#back-button-container > img {
    height: 20px;
    margin-top: 15.5%;
    margin-right: -165px;
    margin-left: 50px;
}

#back-home{
    margin: 25px;
    font-size: large;
    color: #204F6A;
    font-weight: bold;
    border-radius: 20px;
    width: 80%;
    height: 30px;
    box-shadow: 0 0 10px lightgrey;
    border: none;
    background-color: white;
    cursor: pointer;
    padding-right: 24px;
}

body, html{
    height: 100%;
}

#main-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#main-title{
    margin: 0 auto;
    width: 30%;
    color: #204F6A;
    font-weight: bold;
    text-align: center;
}

#merch-prod-container{
    overflow:auto;
    margin: 20px auto;
    width: 90%;
    height: 70%;

}
#merch-prod-container::-webkit-scrollbar{
    background-color: transparent;
}

#merch-prod-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px lightgrey;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #2b6586;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #204c64;
}

#merch-pcard{
    display: inline-block;
    margin: 10px auto;
    margin-right: 5%;
    width: 90%;
    height: 110px;
    border-radius: 16px;
    box-shadow: 0 2px 16px lightgrey;
}

#p-img{
    display: inline-block;
    width: 25%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

#p-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#p-info{
    border-radius: 16px;
    height: 100%;
    width: 45%;
    margin: 0 300px;
    margin-top: -10.8%;
    overflow: hidden;
}

#p-name {
    color: rgb(45, 44, 44);
    font-weight: bold;
    width: 100%;
    margin: 25px auto;
    margin-bottom: 5px;
    text-align: start;
}

.p-price{
    display: inline;
    color: #31769e;
    font-weight: bolder;
    margin: 0 0px 0 0;
    font-size: large;
}

#price{
   display: inline;
   color: #31769e;
   margin: 0 auto;
   font-size: large;
   font-weight: normal;
}

#vat{
    margin-top: 0px;
    font-size: small;
    color: rgb(99, 100, 100);
}

#operations{
    width: 28%;
    margin: 0 71.8%;
    height: 100%;
    margin-top: -13.5%;
    border-radius: 16px;
}

#delete{
    background-color: transparent;
    margin-right: 50px;
    cursor: pointer;
    border: none;
}

#edit{
    margin-top: 65px;
    margin-right: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#edit > img, #delete > img {
    width: 70%;
    height: 70%;
}

#add {
    display: block;
    margin: 20px 21%;
    width: 60%;
    height: 80px;
    font-size: xx-large;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 2px 20px grey;
    background-color: transparent;
    cursor: pointer;
}

#add > img {
    width: 3%;
    margin: 0 auto;
}