@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
*{
    font-family: 'Share', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#h1i {
    margin-bottom: 20px; 
    color: #204F6A;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

#main button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: 0;
    background-color: white;
    cursor: pointer;
    margin: 10px;
}

#main button img 
{
    width: 120px;
    height: 120px; 
}

.getMethod
{
    font-size: 18px;
    color: #204F6A;
}