@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
*{
    font-family: 'Share', sans-serif;
}

div.Legainaha_signature
{
    display: inline-flex;
    margin: 0px 0px 0px 5px;
    font-size: 25pt;
    color: #307095;
}
.Legainaha_signature a, a:visited, a:active,a:link, a:hover
{
    margin: 12px 0px 12px 10px;
    text-decoration: none;
    color: #307095;
}
div.search_section
{
    
    margin: 10px 0px 10px 50px;
    width: 100%;
}

.search_section select
{
    margin-top: 4px;
    margin-left: 20%;
    width: 85px;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-image: url('/assets/images/location.svg'); 
    background-repeat: no-repeat;
    background-position:right;
    background-size: 15px;
    padding: 4px 6px;
    border-color: #204F6A;
    color: #307095;
    border-radius: 15px;
    height: 40px;
    border-width: 2.5px;
}
.search_section input
{
    border: 2.5px #204F6A solid;
    border-radius: 15px;
    margin: 5px;
    height:35px;
}

.navigation_links ul
{  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 250px;
}

.navigation_links ul > li {
   display: inline-flex;
   margin: 0 auto;
   top: 0px;
   height: 50px;
}

.navigation_links ul li a {
    display: inline-flex;
    width: auto;
    height: 50px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    margin: 0 30px;
}

#sign_login_anchor img
{
    width: 20pt;
    height: 19px;
}
#Favorite img
{
    width: 19pt;
    height: 18px;
}
#cart img
{
    width: 20pt;
    height: 19px;
}

header
{
    display: inline-flex;
    position: sticky;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.121);
    max-height: max-content;
    min-width:max-content;
    width: 100%;
}

.vertical {
  border: 3px solid #204f6a5a;
  height: 30px;
  margin: 6px;
  border-radius: 10px;
  width: 100%
}


@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
*{
    font-family: 'Share', sans-serif;
}

/* This is the footer's section */

footer
{
    background-color: #E6E6EF ;
    width: 100%;
    border: #C9C9C9 2px solid;
    direction: rtl;
    max-height: max-content;
    min-width:max-content;
    display: flex;
}
div.legainaha_info
{
    margin: 80px 50px;
    font-size: large;
}
div.legainaha_info img
{
    margin: 0px 0px 0px 30px;
}
div.contact
{
    font-size: large;
    margin: 80px 50px;
}
div#tel
{
    display: inline-flex
}
div#email
{
    display: inline-flex;
}

div.related_topics
{
    margin: 80px 300px;
}
div.related_topics ul
{
    list-style-type: none;
    display:inline-block;
}
div.related_topics p
{
    font-size: large;
    margin: 20px 40px;
}
div.social_media
{
    margin: 20px 40px;
}

/* This is body section */

#page-title{
    color: #204F6A;
    font-weight: bolder;
    margin: 40px 6%;
}

.offers-wrapper {
    margin: 0 8%;
    width: 90%;
}
.offers-wrapper img{
    height: 240px;
    width: 413px;
    margin: -25px;
}

#offer1, #offer3 {
    opacity: 45%;
    margin-top: -40px;
}

#selected-img {
    height: 250px;
    width: 450px;
}

.app-sections {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 60px auto;
    border-radius: 20px;
    background-color: #EEEEF6;
}

.app-sections h4{
    text-align: center;
    width: 150px;
    margin: 35px -35%;
    color: #204F6A;
    font-weight: bold;
}

.white-circle {
    margin: 10px 6%;
    padding: 20px;
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: white;
}


.white-circle img{
    height: 80px;
    width: 80px;
    margin: 5%;
}

.white-circle .mech-pic{
    width: 70px;
    height: 70px;
    margin: 7%;
}

.app-sections .sections-title {
    text-align: center;
    width: 20%;
    border-radius: 20px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-top: -40px;
    background-color: white;
    box-shadow: 2px 1px 10px gray;
}

.sections-title h2 {
    font-weight: bolder;
    text-align: center;
    color: #3278A1;
    padding: 2px;
}

.blue-box-container {
    margin: 10px 50px 10px 5px;
    padding: 20px;
    display: inline-block;
    border: 5px solid #3278A1;
    border-radius: 20px;
    height: 150px;
    width: 150px;
    background: linear-gradient(white, white, white, white, #3278A1);
}

.blue-box-container img {
    height: 50px;
    width: 160px;
    margin: 45px -10px;
}

.container-title-bottom {
    text-align: center;
    border-radius: 20px;
    padding: 0px 10px;
    margin: 0 auto;
    width: 60px;
    background-color: #3278A1;
}

.container-title-bottom  h5{
    font-weight: bolder;
    text-align: center;
    color: white;
    padding: 10px 2px;
    margin-top: 10px;
}

#last-deal {
    opacity: 30% ;
}

.products-inline-style {
    margin: 10px 60px 10px 5px;
    padding: 21px;
    display: inline-block;
    border: 5px solid #3278A1;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: white;
}

.products-inline-style .outlined-circle {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #3278A1;
    width: 25px;
    height: 25px;
    background-color: white;
    margin-top: -25px;
    margin-right: -10px;
}

.outlined-circle h5 {
    display: inline-block;
    font-weight: bolder;
    text-align: start;
    width: 700%;
    margin-top: 3px;
    margin-right: 30px;
}

.products-inline-style img {
    margin: 20px auto;
}

.products-inline-style .product-name{
    margin-top: -35px;
    margin-right: -34px;
    width: 130%;
    color: black;
}

.product-price {
    margin-top: -30px;
    margin-right: -10px;
    font-weight: bolder;
    color: #307095;
}

.old-price {
    margin-top: -42px;
    margin-right: 86px;
    color: lightgray;
}

.products-inline-style h6 {
    margin-top: -22px;
    margin-right: -8px;
    font-size: xx-small;
}

#last-prod {
    opacity: 30%;
}

#LS_nextButton , #LS_backButton{
    background-color: transparent;
    border: none; 
    box-shadow: 3px 1px 16px grey;
    border-radius: 100%;
    width: 120px; 
    height: 120px;
    cursor: pointer;
}


#LS_nextButton > img, #LS_backButton > img {
    margin-right: -7.5px;
    margin-top: -2.5px;
    padding-bottom: 40px;
}

#LS_backButton {
    visibility: hidden;
    margin-left: -60px;
    margin-right: -60px;
}