@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
*{
    font-family: 'Share', sans-serif;
}

#TitleOfPage
{
    font-size: 32px;
    color: #204F6A; 
    font-weight: 900;
    text-align: center;
}

#Container
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    border-radius:15px;
    border-width: 0px;
    color: white;
    font-size: 25px;
    margin: 0 auto;
    height: 370px;
    width: 70%;

}

#img1
{
    width: 100%;
    height: 70%;
    
}
#img2{
    border-radius: 100%;
    border: 2px thin #3278A1;
    padding-top: 12px;
}
#Store{
    padding-right: 75px;

}

div p 
{
    margin-top: -60px;
    padding-right: 80px;
    padding-top: 5px;
    color: #204F6A; 
    font-size: 20px;
    font-weight: 700;
}
#locimg
{
    margin-top: -70px;
    margin-bottom: 150px;
    padding-right: 680px;
    width: 05%;
    height: 10%;
}

#P1
{
    margin-top: -160px;
    margin-bottom: 200px;
    margin-right: 63%;
}

#divid3
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    border-radius:15px;
    border-width: 0px;
    font-size: 25px;
    margin-right: 0px;
    margin-top: -110px;
    margin-bottom: 50px;
    height: 180px;
    width: 1000px;
}

#innerimg
{
    float: right;
    margin-top: 23px;
    display: inline;
}

#PForInfo
{
    display: inline;
    margin-top: 00%;
    color: black;

}

#num
{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #b8cddc;
    border-width: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    font-size: 25px;
    display: inline;
}

h2
{
    color: black;
    font-size: 33px;
}
h6
{
    color: black;
    margin-top: -35px;
    margin-right: 100px;
    font-size: small;
}

h5
{
    color: black;
    margin-top: 20px;
    color: #4C88AD;
}

#formstyle
{
    margin-top: -90px;
    padding-right: 780px;
    width: 05%;
    height: 10%;
}

#buttonid
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 400px;
    height: 50px;
    background-color: #3278A1;
    border-radius:15px;
    border-width: 0px;
    color: white;
    font-size: 25px;
    margin-right: 35%;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}
/* Header */
@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
*{
    font-family: 'Share', sans-serif;
}

div.Legainaha_signature
{
    display: inline-flex;
    margin: 0px 0px 0px 5px;
    font-size: 25pt;
    color: #307095;
}
.Legainaha_signature a, a:visited, a:active,a:link, a:hover
{
    margin: 12px 0px 12px 10px;
    text-decoration: none;
    color: #307095;
}
div.search_section
{
    
    margin: 10px 0px 10px 50px;
    width: 100%;
}

.search_section select
{
    margin-top: 4px;
    margin-left: 10%;
    width: 85px;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-image: url('../assets/images/location.png'); 
    background-repeat: no-repeat;
    background-position:right;
    background-size: 15px;
    padding: 4px 6px;
    border-color: #204F6A;
    color: #307095;
    border-radius: 15px;
    height: 40px;
    border-width: 2.5px;
}
.search_section input
{
    border: 2.5px #204F6A solid;
    border-radius: 15px;
    margin: 5px;
    height:35px;
}

.navigation_links ul
{  
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: auto;
    display: inline-flex;
}

.navigation_links ul > li {
   display: inline-flex;
   margin: 0px 10px;
   top: 0px;
   height: 50px;
}

.navigation_links ul li a {
    display: inline-flex;
    width: max-content;
    height: 30px;
    text-align: center;
    margin: 10px 10px ;
}
.navigation_links ul li a img {
    margin: 0px 10px;
}

#sign_login_anchor img
{
    width: 20pt;
    height: 19px;
}
#Favorite img
{
    width: 19pt;
    height: 18px;
}
#cart img
{
    width: 20pt;
    height: 19px;
}

header
{
    display: inline-flex;
    position: sticky;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.121);
    max-height: max-content;
    min-width:max-content;
    width: 100%;
}

.vertical {
  border: 3px solid #204f6a5a;
  height: 30px;
  margin: 6px;
  border-radius: 10px;
  width: 100%
}

/* Fotter */ 
footer
{
    background-color: #E6E6EF ;
    width: 100%;
    border: #C9C9C9 2px solid;
    direction: rtl;
    max-height: max-content;
    min-width:max-content;
    display: flex;
}
div.legainaha_info
{
float: right;
    margin: 80px 50px;
    font-size: large;
}
div.legainaha_info img
{
    margin: 0px 0px 0px 30px;
}
div.contact
{
display: inline;
    float: left;
    font-size: large;
    margin: 160px 250px;
}
div#tel
{
    display: inline-flex
}
div#email
{
    display: inline-flex;
}

div.related_topics
{
    margin: 80px 300px;
}
div.related_topics ul
{
    list-style-type: none;
    display:inline-block;
}
div.related_topics p
{
    font-size: large;
    margin: 20px 40px;
}
div.social_media
{
    margin: 20px 40px;
}