@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
*{
    font-family: 'Share', sans-serif;
}

#main
{
    margin: 0px 200px;
}

body
{
    margin: 0px auto;
}

#testb
{
    margin-top: 15px;
    color: #204F6A;
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    border-width: 0px;
    border-color: white;
    font-size: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#imid
{
    height: 300px;
    margin-right: 250px;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#text
{
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-right: 20px;
    border-radius: 10px;
    border-width: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80px;
    height: 59px;
    font-size: 17px;
    
}

#but
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 580px;
    height: 60px;
    background-color: #3278A1;
    border-radius:15px;
    border-width: 0px;
    color: white;
    font-size: 25px;
    
}


#did
{
    width: 95px;
    border-radius: 25px;
    color: white;
    background-color: #3278A1;
    text-align: center;
    margin-top: 0px;
    margin-right: 700px;
}

#price
{
    color: #3278A1;
    font-size: 40px;
}