@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
*{
    font-family: 'Share', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
*{
    font-family: 'Share', sans-serif;
}

#main
{
    margin: 0px 200px;
}

body
{
    font-family: 'Share', sans-serif;

}

#back
{
    margin-top: 15px;
    color: #204F6A;
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    border-width: 0px;
    border-color: white;
    font-size: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#innerimg
{
    margin-right: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 570px;
    height: 400px;
}

#link
{
    margin-right: 275px;
    font-size: 50px;
    text-decoration:none;
}